name: Lint Helm Chart

on:
  pull_request:
    paths:
      - charts/**

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Lint Helm chart
        run: |
          helm lint charts/acme-dns
